@font-face {
	font-family: 'Berthold Akzidenz Grotesk BE';
	src: url('AkzidenzGroteskBE-Regular.eot');
	src: url('AkzidenzGroteskBE-Regular.eot?#iefix') format('embedded-opentype'),
		url('AkzidenzGroteskBE-Regular.woff') format('woff'),
		url('AkzidenzGroteskBE-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Berthold Akzidenz Grotesk BE';
	src: url('AkzidenzGroteskBE-Md.eot');
	src: url('AkzidenzGroteskBE-Md.eot?#iefix') format('embedded-opentype'),
		url('AkzidenzGroteskBE-Md.woff') format('woff'),
		url('AkzidenzGroteskBE-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

html, 
body, 
p,
h1
 {
  font-family:'Berthold Akzidenz Grotesk BE', sans-Serif;
  font-size: 20px;
  font-style: normal;
  line-height: 1.3;
  color:rgb(0, 153, 255)
}


.top {
    margin:20;
      width: 100vw;
      background-color: blue
    }
